* {
    margin: 0;
    padding: 0;
}

body.sunny {
    background-image: linear-gradient(to left top, #ff4b4e, #ff932d, #ffb011, #fcd71d);
}

body.cloudy {
    background-image: url(img/cloudy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

body.rainy {}

body.snowy {
    background-image: url(img/snowfall-201496_1920.jpg);
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
}

body.stormy {
    background-image: url(img/storm.jpg);
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
}

body.night {
    background-image: url(img/night.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.5px;
    background-image: linear-gradient(to left top, #ff4b4e, #ff932d, #ffb011, #fcd71d)
}

.form-control {
    margin: 50px auto 20px auto;
    max-width: 400px;
    background-color: rgba(19, 17, 17, 0.2);
}

.form-control::placeholder {
    color: #fff;
    text-align: center;
}

.welcome {
    max-width: 400px;
    margin: 50px auto 20px auto;
    text-align: center;
    color: #fff;
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 1.5px;
}

p {
    margin: 0;
}

a {
    color: rgba(255, 255, 255, 0.7);
}

.fa,
.fas {
    font-size: 40px;
}

.app-block {
    max-width: 70vw;
    padding: 20px 0;
    margin: 30px auto;
    text-align: center;
    color: #fff;
    background-color: rgba(64, 64, 64, 0.5);
}

.app-block img {
    width: 200px;
}



.city-name {
    font-size: 45px;
    font-weight: 300;

}

.temperature {
    font-size: 120px;
}

.weather {
    margin-bottom: 15px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7)
}

.days {
    margin-top: 70px;
}

.day {
    padding: 20px 0 20px 0;
    background-color: rgba(65, 64, 64, 0.2);
    color: #fff
}

.table {
    margin: 0 20px 30px 20px;
    max-width: 300px;
    padding: 20px;
    font-size: 13px;
    border-radius: 5%;
    color: #ffffff;
}