* {
    margin: 0;
    padding: 0;
}

@supports not (font-variation-settings: normal) {
    @import url(//fonts.googleapis.com/css?family=Open+Sans);
}


body {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.5px;
    background-image: url(img/plain.png);
    background-size: cover;
    background-repeat: no-repeat;
}


body.sunny {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.5px;
    background-image: url(img/sun.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

body.cloudy {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.5px;
    background-image: url(img/clouds.png);
    background-size: cover;
    background-repeat: no-repeat;
}

body.rainy {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.5px;
    background-image: url(img/rain.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

body.snowy {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.5px;
    background-image: url(img/snow.png);
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
}

body.stormy {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.5px;
    background-image: url(img/storm.jpg);
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
}

body.night {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.5px;
    background-image: url(img/night.png);
    background-size: cover;
    background-repeat: no-repeat;
}



form {
    display: flex;
    margin: 50px auto 20px auto;
    max-width: 500px;

}

form [type="text"] {
    width: 300px;
    margin: 0 10px;
    border-radius: 0;

}

.form-control::placeholder {
    color: #ccc;
    text-align: center;
}

.btn-outline-secondary {
    color: #fff;
}

.btn {
    border-radius: 0;
    background-color: #fff;
    border: solid 2px #e46d2e;
    color: #e46d2e;
    font-weight: 500;
}

.btn:hover {
    background-color: #e46d2e;
    color: #fff;
}

.btn .btn-primary {
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.603);
    color: rgba(255, 255, 255, 0.521);

}

.welcome {

    margin: 50px auto 20px auto;
    text-align: center;
    color: #fff;
    font-size: 45px;
    font-weight: 300;
    letter-spacing: 1.5px;
}

.welcome span {
    color: #e46d2e;
    font-weight: 100;
    font-variation-settings: 'wght'100, 'wdth'85;
    animation: resize 1.5s infinite linear;

}

@keyframes resize {
    60% {
        font-weight: 900;
    }

    100% {
        font-weight: 100;
    }
}

p {
    margin: 0;
}

.prev:hover,
.next:hover {
    color: rgb(17, 4, 77);
}

.fa,
.fas {
    font-size: 40px;
}

.app-block {
    display: none;

}

.app-block.active {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    width: 700px;
    height: 400px;
    padding: 20px 0;
    margin: 130px auto 50px auto;
    text-align: center;
    color: rgb(17, 4, 77);
    background-color: #FFF;
    border: 1px #fff solid;
    border-radius: 40%;

}

.app-block::after {
    display: block;
    content: "";
    position: absolute;
    top: -80px;
    left: calc(50% - 150px);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #fff;
    z-index: -1;
}

.app-block::before {
    display: block;
    content: "";
    position: absolute;
    top: 0px;
    left: -8%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #fff;
    z-index: -1;
}

.icons::after {
    display: block;
    content: "";
    position: absolute;
    top: -10%;
    left: 125%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #fff;
    z-index: -1;
}

.top {

    align-items: space-around;
    justify-content: center;
}

.app-block img {
    width: 100%;
    height: 100%;
}

.app-block .icons {
    /*width: 40%;*/
    font-size: 12px;
    margin: 0;
}

.small-icons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}



.app-block .humidity img,
.app-block .wind img {
    width: 10%;
}

.left,
.right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

}

.time,
.city-name {
    font-size: 30px;
    font-weight: 300;

}

.temperature {
    /* height: 200px;*/
    line-height: 100px;
    font-size: 100px;
    vertical-align: middle;

}




/*slider*/

.slide-wrapper {
    display: none;
}

.slide-wrapper.show {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    width: 90vw;
    margin: 0px auto;
}

.days,
.slide-container {
    display: flex;
    flex-wrap: nowrap;
    /*margin: 70px auto 50px auto;*/
    width: 70vw;
    height: 40vh;
    overflow: hidden;
}

.prev,
.next {
    color: #fff;
    width: 10%;
    margin: 0px;
}

.day {
    padding: 20px 0 20px 0;
    margin: 10px;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.5);
    width: 30%;
    height: 25vh;
    color: rgb(17, 4, 77);
    /*border: solid 2px red;*/
}


.slick-list {
    position: relative;

    display: block;
    overflow: hidden;
    width: 70vw;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    height: 20vh;
}

.slick-track:before,
.slick-track:after {
    display: table;

    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: auto;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}